onnxruntime==1.18.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
paho-mqtt==2.1.0
orjson==3.10.7
torch==2.3.1 --extra-index-url https://download.pytorch.org/whl/cpu
requests==2.32.3
timm==0.9.2

